<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ASSET PLBG</title>
    <meta name="description" content="ASSET PLBG" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://morgul.github.io/ui-bootstrap4/ui-bootstrap-tpls-3.0.6.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

    <script>
      angular
        .module("app", ["ui.bootstrap"])
        .controller("asset", function ($scope, $http) {
          
          $http.get("plbg_asset.json").then(
            function successCallback(response) {
              $scope.assets = response.data;
              console.log("data assets : ");
              console.log(response.data);
            },
            function errorCallback(response) {
              console.log("Unable to perform get request");
            }
          );
          
        });
        
        
          
       
    </script>
  </head>

  <body class="contener">
    <div ng-app="app" ng-controller="asset">
     <h2 class="text-center">ระบบค้นหา Asset ของ Bagging </h2>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th >item</th>
                <th >AssetClass</th>
                <th >AssetNo</th>
                <th >Description</th>
              </tr>
            </thead>
            <tbody>
              <tr> <th ></th>
                <th > <input
                  ng-model="s.AssetClass"
                  placeholder="ค้นตาม AssetClass"
                  class="form-control input-md"
                /></th>
                <th > <input
                  ng-model="s.AssetNo"
                  placeholder="ค้นตาม AssetNo"
                  class="form-control input-md"
                /></th>
                <th > <input
                  ng-model="s.Description"
                  placeholder="ค้นตาม Description"
                  class="form-control input-md"
                /></th>
              </tr>
              <!--<tr ng-repeat=" r in filtered=(uhv.Alltag |limitTo: 15 | filter:s)"> -->
              <!-- <tr ng-repeat=" r in  uhv.Alltag | filter:s"> -->
                <tr ng-repeat=" r in  assets.Sheet1 | filter:s |limitTo: 15">
                <td >{{ $index+1}} </td>
                <th ><h4>{{ r.AssetClass }}</h4></th>
                <td >{{ r.AssetNo}} </td>
                <td >{{ r.Description}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </body>
</html>
